
{% extends "base.html" %}
{% block title %}about Me {% endblock title %}
<br>
{% block page_content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../static/youngman.jpg" alt="Your Name" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-6">
                <h1>About Me</h1>
                <p>Hello, I'm [Your Name]. I'm passionate about [your interests/hobbies]. I enjoy [mention some of your interests].</p>
                <p>If you'd like to get in touch, you can reach me at [your email address].</p>
                <br>
                <p> You acn see my projects <a href='/projects'>click here</a></p>
            </div>
        </div>
    </div>
{% endblock page_content %}
    
